$colorFondo: #00daf7;
$colorLetras: #FFF;
$colorFooter:  linear-gradient(to top, #FFF, #00daf7);
$colorHeader: linear-gradient(to top, #00daf7, #FFF);

.body-3 {
    background-color: $colorCuerpo;

           h2{
            font-size: 30px;
            text-align: center;
            color: $colorLetras;
            font-family: 'Bodoni Moda', serif;
            font-family: 'Coda Caption', sans-serif;
           }

           p {
            margin-bottom: 40px; 
            font-size: 30px; 
            color: $colorLetras;
            text-align: center;
           }
 }

   
.section-1 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

       .primera-fila {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px;
        margin: 30px;
        width: 250px;
        border: 2px 
       }

       .seccion-dos {
        color: $colorLetras;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        font-style: italic;
       }

       .procesador:hover {
        transform: translate(10px, 20px);
        transition: 2s;
     }
     
     .placas:hover {
         transform: translate(10px, 20px);
         transition: 2s;
     }
     
     .Mother:hover {
         transform: translate(10px, 20px);
        transition: 2s;
     }
     
     .Fuentes:hover {
         transform: translate(10px, 20px);
        transition: 2s;
     }

}

.header {
    background-color: $colorHeader;
    height: 70px;

     .nav{ 
        
            text-align: center;
            border: 1px solid #000;
            width: 10pxpx; padding: 40px
     }

     .nav-header {
        
            word-spacing: 30px;
            border: 1px solid $colorLetras;
            font-weight: bold;
        
     }

     .nav-header:hover {
        color: $colorLetras;
        font-weight: bold;
     }
     
     nav a {
        color: black;
        text-decoration: none;
        font-size: 25px;
        letter-spacing: 2px;
        font-family: 'Bodoni Moda', serif;
        font-family: 'Coda Caption', sans-serif;
        font-weight: bold;
     }

     .menu-header, .nav-header {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #000;
     }
}



.footer {
    background-color: $colorFooter;
}